body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/*Header*/
.header {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background: white;
}

/**/
input {
    background-color: whitesmoke;
    width: 68px;
    display: block;
    /* display: block; */
}

/**/

/*Footer*/
/* .footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
} */

/*Footer*/
.pages {
    padding: 50px;
    text-align: center;
    background: white;
    margin-top: 50px;
}

span {
    /* float: left; */
    /* position: left; */
    margin-left: 110px;
}

label {
    float: left;
    display: block;
}

#page1 {
    position: static;
    top: 50%;
    padding: 20px;
    overflow: auto;
}

#status {
    font-size: 20px;
}

#currentRoundNumber {
    font-size: 15px;
}

#timer {
    font-size: 100px;
}

button {
    padding: 15px 25px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .3);
}

button:hover {
    cursor: pointer;
    background: rgba(26, 243, 6, 0.15);
}