body {
    font-family: 'Roboto Mono', monospace;
}

.header {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    background: white;
}

input {
    background-color: whitesmoke;
    width: 68px;
}

/* if inputs between [min,max], the box background color is green */
input:in-range {
    background-color: rgba(0, 255, 0, 0.25);
}

/* if inputs not [min,max], the box background color is red */
input:out-of-range {
    background-color: rgba(255, 0, 0, 0.25);
    border: 1px solid red;
}

.controls {
    text-align: center;
}

.clocks {
    text-align: center;
}

p[type=text] {
    text-align: center;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Solid border */
hr.solid {
    border-top: 3px solid black;
}

button {
    padding: 15px 25px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: rgb(0, 206, 209);
}

button:hover {
    cursor: pointer;
    background: rgb(255, 127, 80);
}

p {
    font-size: 100px;
    font-weight: 300;
}

/*Anything under or equal 1000px, make hamburger icon visible*/
@media only screen and (max-width: 1000px) {

    nav {
        align-items: flex-start;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    input {
        background-color: whitesmoke;
        width: 68px;
        display: block;
        margin: 0 auto;
    }
}